*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* fine reset */

/* regole generali */
body{
  color: white;
}
main {
  height: calc( 100vh - 110px);
  width: 100%;
}
ul {
  list-style-type: none;
}

/* fine regole generali */


/* layout macrosezioni */
.ms_wrapper {
  height: 100vh;
}


.ms_sidebar {
  float:left;
  width: 230px;
  height: 100%;
  background-color: #000;
  overflow: hidden;

}

.ms_content {
  float: left;
  width: calc(100% - 230px);
  height: 100%;
  min-width: 200px;
  background-color: #141923;
  padding-top: 100px;
  overflow: hidden;
  overflow: scroll;
}

/* fine layout */


/* classi generali */
.ms_sidebar-item a{
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}


li:not(active){
  padding-left: 20px;
  padding-top:10px;
}
.ms_active {
  border-left: 4px solid green;
}
/* classi generali */

/* main */
/* sidebar */
.ms_sidebar >.ms_logo {
  height: 100px;
}
.ms_logo img {
  width: 170px;
  padding: 15px 10px 30px 5px;
  /* margin: 10px 20px; */
}
.ms_sidebar >.ms_navigation-left {
  height: 120px;
  overflow: hidden;

}
.ms_navigation-left li{
  /* padding-left: 10px */
}

.ms_navigation-left img {
  width: 30px;
  vertical-align: middle;
  /* margin: 5px 10px; */

}
.ms_playlist-container {
  height: calc(100vh - 430px);
  overflow: hidden;
}
.ms_playlist-container >h2, i {
  padding-left: 20px;
}
.ms_playlist {
  height: 60%;
  overflow-y: auto;

}

/* fine sidebar */

/* content */
.ms_top-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 230px);
  height: 100px;
  background-color: rgba(0,0,0,.4);
  color: white;
}

/* fine content */

/*end  main */
/* footer */
.ms_player-bottom {
  min-height: 110px;
  background-color: red;
  }
/* end footer */


/* media query */
/* formato xs */
@media all and (max-width:767px) {
  .ms_sidebar {
    width: 80px;
    height: 100%;
  }
    /* layout */
  .ms_content, .ms_top-bar {
    width: calc(100% - 80px);
  }
  .ms_menu-xs {
    width: 50px;
  }
  .ms_top-bar {
    height: 100px;
  }
}







/* da cancellare */
.ms_box {
  height: 300px;
  background-color: #141923;
  border: 1px solid white;
}
/* da cancellare */
