*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* fine reset */

/* regole generali */
body{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
main {
  height: calc( 100vh - 110px);
  width: 100%;
}
ul {
  list-style-type: none;
}
h2 {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
span{
  padding-left: 10px;
}
p:hover, h1:hover, a:hover {
  color: #fff;
}
/* fine regole generali */
/* layout macrosezioni */
.ms_wrapper {
  height: 100vh;
}
.ms_sidebar {
  float:left;
  width: 230px;
  height: 100%;
  background-color: #000;

}
.ms_content {
  float: left;
  width: calc(100% - 230px);
  height: 100%;
  min-width: 200px;
  background-color: #141923;
  padding-top: 100px;
  overflow: hidden;
  overflow: scroll;
}
.ms_section {
  margin: 20px 0;
}
/* fine layout */

/* classi generali */
.ms_sidebar-item a{
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}
li:not(active){
  padding-left: 20px;
  padding-top:10px;
}
.ms_active {
  border-left: 2px solid #adff30;
}

.ms_add-play {
  font-size: 40px;
  vertical-align: middle;
}
.ms_sidebar, .ms_playlist-container, .ms_navigation-left {
  overflow: hidden;
}


/* classi generali */
/* hover */
span:hover, a:hover{
  color: #fff;
}

/* hover */

/* main */
/* sidebar */
.ms_sidebar >.ms_logo {
  height: 100px;
}
.ms_logo img {
  width: 170px;
  padding: 30px 5px 25px 20px;
  /* margin: 10px 20px; */
}
.ms_sidebar >.ms_navigation-left {
  height: 120px;
}

.ms_navigation-left img {
  width: 30px;
  vertical-align: middle;
  /* margin: 5px 10px; */

}
.ms_playlist-container {
  height: calc(100vh - 410px);
}
.ms_sidebar-item.ms_playlist-container  >h2, i {
  padding-left: 20px;
}
.ms_sidebar-item.ms_playlist-container span a{
  padding-left: 5px;
  font-size: 16px;
}
.ms_playlist {
  height: 60%;
  overflow-y: auto;
}
.ms_sidebar-item hr {
  text-align: center;
  margin: 8px 10px;
}
.ms_sidebar-item.ms_bottom-side {
  padding-left: 10px;
}
.ms_bottom-side img {
  margin-right: 5px;
}
.ms_bottom-side .ms_install img{
  width: 15px;
}
.ms_bottom-side .ms_account img {
  width: 25px;
  border-radius: 50%;
  background-color: grey;
}
.ms_bottom-side .ms_account a{
  color: #fff;
  font-weight: bold;
}
/* fine sidebar */

/* content */
.ms_top-fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 230px);
  height: 100px;
  background-color: rgba(0,0,0,.4);
  color: white;
}

.ms_upgrade-flex{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  padding-right: 5px;

}
.ms_upgrade-flex h3 {
  border: 1px solid white;
  border-radius: 19px;
  font-size: 11px;
  padding: 13px 24px;
}
.ms_upgrade-flex h3:hover {
  background-color: green
}

/* category menu */

.ms_category {
  width: 100%;
  text-align: center;
}
.ms_list-category li  {
  display: inline-block;
  margin: 10px;
  padding: 0;
  text-transform: uppercase;
}
.ms_list-category li:last-child  {
  margin-right: 0;
}
.ms_list-category li a {
  color: grey;
  font-weight: 600;
  text-decoration: none;
}
.ms_list-category li:hover {
    position:relative;
    display:inline-block;
}
.ms_list-category li::after{
    content:'';
    position:absolute;
    left:50%;
    top:100%;
    margin: 2px auto;
    width: 25%;
    height:3px;
    background-color: green;
}

/* album row */
.ms_title {
  padding-left: 10px;
}
.ms_wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  text-align: center;
}
.ms_wrap-item {
  flex-basis: 15%;
}
.ms_wrap-item img {
  width: 100%;
  height: auto;
  padding: 15px;
}
/* fine content */

/*end  main */
/* footer */
.ms_player-bottom {
  min-height: 110px;
  background-color: #292929;
  }
/* end footer */


/* media query */
/* formato xs */
@media all and (max-width:767px) {
  .ms_sidebar {
    width: 100px;
    height: 100%;
  }
    /* layout */
  .ms_content, .ms_top-fixed {
    width: calc(100% - 100px);
  }
  .ms_menu-xs {
    width: 50px;
  }
  .ms_top-fixed {
    height: 100px;
  }
  /* siderbar */
.ms_logo-xs {
  padding: 5px 20px;
}
  .ms_logo-xs img {
    width: 35px;
  }

  .ms_wrap {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ms_wrap-item {
    flex-basis: 50%;


  }
}
/* sm devices */
@media all and (min-width:768px) and (max-width:991px) {
  .ms_wrap {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ms_wrap-item {
    flex-basis: 50%;

  }

}

/* md device */
@media all and (min-width:992px) and (max-width:1199px){
  .ms_wrap {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ms_wrap-item {
    flex-basis: 25%;
  }


}

/* da cancellare */
