*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* fine reset */

/* regole generali */
body{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
main {
  height: calc( 100vh - 90px);
  width: 100%;
}
ul {
  list-style-type: none;
}
h2 {
  font-size: 15px;
  font-weight: bold;
}
h5{
 color: grey;
 font-size: 13px;
}
a {
  text-decoration: none;

}
a:hover {
  text-decoration: none;
  color:white;
}

span{
  padding-left: 10px;
}
p:hover, h1:hover, a:hover {
  color: #fff;
}
/* fine regole generali */
/* layout macrosezioni */
.ms_wrapper {
  height: 100vh;
}
.ms_sidebar {
  float:left;
  width: 230px;
  height: 100%;
  background-color: #000;

}
.ms_content {
  float: left;
  width: calc(100% - 230px);
  height: 100%;
  min-width: 200px;
  background-color: #131923;
  padding-top: 90px;
  overflow: hidden;
  overflow: auto;
}
.ms_section {
  margin-top: 24px;
  margin-bottom: 45px;}
/* fine layout */

/* classi generali */
.ms_sidebar-item a{
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}
li:not(active){
  padding-left: 20px;
  padding-top:10px;
}
.ms_active {
  border-left: 2px solid #adff30;
}

.ms_add-play {
  font-size: 40px;
  vertical-align: middle;
}
.ms_sidebar, .ms_playlist-container, .ms_navigation-left {
  overflow: hidden;
}

.ms_round-image img {
  border-radius: 50%;
}

/* classi generali */
/* hover */
span:hover, a:hover{
  color: #fff;
}

/* hover */

/* main */
/* sidebar */
.ms_sidebar >.ms_logo {
  height: 100px;
}
.ms_logo img {
  width: 170px;
  padding: 30px 5px 25px 20px;
  /* margin: 10px 20px; */
}
.ms_sidebar >.ms_navigation-left {
  height: 120px;
}

.ms_navigation-left img {
  width: 30px;
  vertical-align: middle;
  /* margin: 5px 10px; */

}
.ms_playlist-container {
  height: calc(100vh - 390px);
}
.ms_sidebar-item.ms_playlist-container  >h2, i {
  padding-left: 20px;
}
.ms_sidebar-item.ms_playlist-container span a{
  padding-left: 5px;
  font-size: 16px;
}
.ms_playlist {
  height: 60%;
  overflow-y: auto;
}
.ms_sidebar-item hr {
  text-align: center;
  margin: 8px 10px;
}
.ms_sidebar-item.ms_bottom-side {
  padding-left: 10px;
}
.ms_bottom-side img {
  margin-right: 5px;
}
.ms_bottom-side .ms_install img{
  width: 15px;
}
.ms_bottom-side .ms_account img {
  width: 25px;
  border-radius: 50%;
  background-color: grey;
}
.ms_bottom-side .ms_account a{
  color: #fff;
  font-weight: bold;
}
/* fine sidebar */

/* content */
.ms_top-fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 230px);
  height: 100px;
  background-color: rgba(0,0,0,.4);
  color: white;
  z-index: 3;
}

.ms_upgrade-flex{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
  padding-right: 20px;

}
.ms_upgrade-flex h3 {
  border: 1px solid white;
  border-radius: 19px;
  font-size: 11px;
  padding: 13px 24px;
  text-transform: uppercase;
}
.ms_upgrade-flex h3:hover {
  transform: scale(1.2)
}
/* category menu */

.ms_category {
  width: 100%;
  text-align: center;
}
.ms_list-category li  {
  display: inline-block;
  margin: 10px;
  padding: 0;
  text-transform: uppercase;
}
.ms_list-category li:last-child  {
  margin-right: 0;
}
.ms_list-category li a {
  color: grey;
  font-weight: 600;
  text-decoration: none;
}
.ms_list-category li a:hover{
color: #fff;
}


/* album row */

.ms_wrap {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.ms_title {
  padding-left: 10px;
}
.ms_title h2 {
  font-size: 25px;
}
.ms_card {
  width: calc(100% / 6);
}
.ms_cover {
  padding: 10px;
  position: relative;

}
.ms_cover img {
  max-width: 100%;
  height: auto;
}

.ms_card:hover .ms_cover img {
  opacity: .3;
  transition: all 1s ease

}

.ms_cover .ms_overlay .play {
  display: none;
  font-size: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  }

.ms_card:hover .ms_cover .ms_overlay .play{
  display: block;
}

.ms_card .ms_description h4{
  font-size: 15px;
  font-weight: bold;
}

/* fine content */

/*end  main */

/* footer */
/* player */
.ms_footer{
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  height: 90px;
  background-color: #292929;
  }

.ms_footer .ms_box {
  align-items: center;
}

/* left */
.ms_song {
  display: flex;
  flex-direction: row;
  flex-basis: 300px;
  padding-left: 20px;
}
.ms_song .ms_cover-image  {
  width: 60px;
  min-width: 50px;


}
.ms_song .ms_cover-image img{
  width: 100%;
}
.ms_song .ms_current-song-title {
  padding: 0 10px;
}
.ms_song .ms_current-song-title h4 {
  font-size: 14px;
  margin-bottom: 0;
}
/* central */
.ms_player {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  align-items: center;
}
.ms_player .ms_play {
  font-size: 30px;
  vertical-align: middle;
}
.ms_player .ms_play:hover {
  transform: scale(1.2);

}
.ms_progress-bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.ms_progress-bar span {
  padding: 0 10px;
}
.ms_progress-bar .ms_bar {
  position: relative;
  width: 50%;
  height: 4px;
  background-color: grey;
  border-radius: 15px;
}


.ms_bar .ms_current-progress {
  position: absolute;
  width: 20%;
  background-color: lightgrey;
  height: 100%;
}
.ms_progress-bar:hover .ms_bar .ms_current-progress {
  background-color: green;
}

.ms_circle {
  display: none;
  position: absolute;
  top: -2px;
  right: -2px;
  font-size: 9px;
}

.ms_progress-bar:hover .ms_bar .ms_current-progress .ms_circle {
  display: block;
}
/* ms_left */

.ms_volume-control {
  flex-basis: 300px;
}

/* media query */
/* formato xs */
@media all and (max-width:767px) {
  .ms_sidebar {
    width: 70px;
    height: 100%;
  }
    /* layout */
  .ms_content, .ms_top-fixed {
    width: calc(100% - 70px);
  }
  .ms_menu-xs {
    width: 50px;
  }
  .ms_top-fixed {
    height: 90px;
  }
  /* siderbar */
.ms_logo-xs {
  padding: 5px 20px;
}
  .ms_logo-xs img {
    width: 35px;
  }

  .ms_wrap {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .ms_card {
    flex-basis: 50%;
  }

  .ms_player  {
    display: flex;
    padding-left: 0px;
  }
  .ms_sidebar-item.ms_playlist-container >h2, i {
    padding-left: 8px;
  }
  .ms_player .ms_box.ms_left .ms_name-song {
    margin: 0 2px 0 10px;
  }


}
/* sm devices */
@media all and (min-width:768px) and (max-width:991px) {
  .ms_wrap {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .ms_card {
    width: calc(100% / 2);

  }

.ms_player .ms_box {

}
}
/* md device */
@media all and (min-width:992px) and (max-width:1199px){

  .ms_wrap {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .ms_card {
    width: calc(100% / 4);
  }
}

/* da cancellare */
